{% extends "main.html" %}

{% block content %}
<h1>Login</h1>

<form action="{% url 'login' %}" method='POST'>
    {% csrf_token %}

    <label for="">Username:</label>
    <input type="text" id='username' name='username' placeholder='create a username' Required>
    <br>

    <label for="">Password:</label>
    <input type="Password" id='pass1' name='pass1' placeholder='create a password' Required>
    <br>

    <button type="submit">Submit</button>
</form>

{% endblock content %}