<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="{% url 'products' %}">Home</a>
        <a href="{% url 'login' %}">Login/signin</a>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="">Grouping</a>
        <a href="">Best sellers</a>
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
</body>
</html>