{% extends "main.html" %}

{% block content %}

<h1>Products</h1>

<ul>
    <li style='background: black'>
        <a href="">
            <div>
                <div class="image"></div>
                <div class="about">
                    <h5>watch</h5>
                    <p>this is good</p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="">
            <div>
                <div class="image"></div>
                <div class="about">
                    <h5>Book</h5>
                    <p>this is good</p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="">
            <div>
                <div class="image"></div>
                <div class="about">
                    <h5>laptop</h5>
                    <p>this is good</p>
                </div>
            </div>
        </a>
    </li>
</ul>

{% endblock content %}